.shiny-text {
  color: rgba(255, 255, 255, 0.85);
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 35%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 65%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shiny-text-animation linear infinite;
  font-weight: inherit;
  white-space: nowrap;
}

.shiny-text.disabled {
  animation: none;
  color: rgba(255, 255, 255, 1);
}

@keyframes shiny-text-animation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}